/* FONTS */
/* COLORS */
.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.dropbtn {
  padding: 0px;
  font-size: 16px;
  border: none;
  cursor: pointer; }

.dropbtn:hover.hover-image {
  color: #FFFFFF; }

.dropbtn span:first-child {
  padding: 5px; }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  width: 27px;
  height: 27px;
  position: relative; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 0px;
  padding: 15px; }

/* Links inside the dropdown */
.dropdown-content a {
  color: #b4c000;
  margin: 0px;
  text-decoration: none;
  display: block; }
  .dropdown-content a p {
    margin: 0;
    display: inline-block;
    margin-left: 10px;
    color: #b4c000;
    font-size: 14px; }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block; }

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn span {
  border-radius: 3px;
  color: #FFFFFF;
  background-color: #b4c000; }

span.like {
  font-size: 12px;
  color: #b4c000; }

.material-icons {
  font-size: 19px !important; }

.align-center {
  display: flex;
  align-items: center; }

.vertical .carousel-inner {
  height: 100%; }

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
  -moz-transition: 0.6s ease-in-out top;
  -ms-transition: 0.6s ease-in-out top;
  -o-transition: 0.6s ease-in-out top;
  transition: 0.6s ease-in-out top; }

.carousel.vertical .active {
  top: 0; }

.carousel.vertical .next {
  top: 400px; }

.carousel.vertical .prev {
  top: -400px; }

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0; }

.carousel.vertical .active.left {
  top: -400px; }

.carousel.vertical .active.right {
  top: 400px; }

.carousel.vertical .item {
  left: 0; }

body {
  max-width: 1443px;
  max-height: 533px;
  margin: 0 auto; }
  body div.container-fluid div.carousel.slide.vertical div.indicators ol.dots.carousel-indicators {
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 20px;
    height: 60px;
    top: 40%;
    left: 95%; }
  body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active {
    height: 458px;
    background-image: url(/img/001.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
    body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-5 div.thumbnail {
      min-width: 367px;
      max-width: 367px;
      height: 408px;
      background-color: #FFFFFF;
      margin-top: 26px;
      margin-left: 112px;
      border-radius: 0px;
      border: none; }
      body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-5 div.thumbnail div.caption {
        padding: 0; }
        body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-5 div.thumbnail div.caption h3 {
          margin-top: 20px;
          margin-left: 25px;
          margin-bottom: 15px;
          font-family: "Lato", sans-serif;
          font-weight: 300;
          font-size: 24px;
          color: #383838; }
        body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-5 div.thumbnail div.caption div.thumbnail {
          min-width: 317px;
          max-width: 317px;
          height: 96px;
          border-bottom: 1px solid #969696;
          margin-top: 10px;
          margin-bottom: 0px;
          margin-left: 25px;
          margin-right: 25px; }
          body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-5 div.thumbnail div.caption div.thumbnail div.calendar-gray {
            float: left;
            width: 70px;
            height: 76px;
            background-color: #676767;
            color: #FFFFFF;
            text-align: center;
            font-family: "Lato", sans-serif; }
            body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-5 div.thumbnail div.caption div.thumbnail div.calendar-gray p:first-child {
              font-size: 10px;
              text-transform: uppercase;
              margin-bottom: 0px;
              margin-top: 15px; }
            body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-5 div.thumbnail div.caption div.thumbnail div.calendar-gray p:last-child {
              font-size: 34px;
              margin-top: -5px;
              margin-bottom: 0px; }
          body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-5 div.thumbnail div.caption div.thumbnail div.calendar-text {
            float: right;
            justify-content: center;
            width: 228px;
            height: 96px; }
            body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-5 div.thumbnail div.caption div.thumbnail div.calendar-text h4 {
              margin-top: 3px;
              margin-bottom: 5px;
              font-family: "Roboto", sans-serif;
              font-size: 14px; }
            body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-5 div.thumbnail div.caption div.thumbnail div.calendar-text span img {
              padding-bottom: 2px; }
            body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-5 div.thumbnail div.caption div.thumbnail div.calendar-text p {
              display: inline-block;
              font-size: 12px;
              margin-bottom: 0px;
              color: #969696; }
            body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-5 div.thumbnail div.caption div.thumbnail div.calendar-text .dropbtn span:first-child {
              padding: 5px; }
            body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-5 div.thumbnail div.caption div.thumbnail div.calendar-text span.like {
              margin-left: 10px; }
            body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-5 div.thumbnail div.caption div.thumbnail div.calendar-text span.last {
              padding: 0px;
              padding-left: 46px;
              padding-right: 5px; }
            body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-5 div.thumbnail div.caption div.thumbnail div.calendar-text a {
              display: inline-block; }
              body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-5 div.thumbnail div.caption div.thumbnail div.calendar-text a p {
                color: #b4c000;
                font-weight: bold; }
        body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-5 div.thumbnail div.caption div.thumbnail:last-child {
          min-width: 342px;
          max-width: 342px;
          margin-right: 5px;
          margin-left: 5px; }
          body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-5 div.thumbnail div.caption div.thumbnail:last-child div.calendar-gray {
            margin-left: 25px; }
          body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-5 div.thumbnail div.caption div.thumbnail:last-child div.calendar-text {
            margin-right: 0px; }
    @media (max-width: 550px) {
      body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-5 div.thumbnail {
        min-width: 342px;
        max-width: 342px;
        margin: 0 auto;
        margin-top: 15px; }
        body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-5 div.thumbnail div.caption h3 {
          margin-left: 10px; }
        body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-5 div.thumbnail div.caption div.thumbnail {
          min-width: 317px;
          max-width: 317px;
          margin-left: 10px;
          margin-right: 10px; }
        body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-5 div.thumbnail div.caption div.thumbnail:last-child {
          min-width: 322px;
          max-width: 322px; }
          body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-5 div.thumbnail div.caption div.thumbnail:last-child div.calendar-gray {
            margin-left: 7px;
            margin-right: 9px; } }
    body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-7 div.thumbnail {
      min-width: 590px;
      max-width: 590px;
      height: 174px;
      background-color: #FFFFFF;
      margin-top: 143px;
      margin-left: 29px;
      padding: 0px;
      border-radius: 0px;
      border: none;
      background-color: transparent; }
      body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-7 div.thumbnail div.box-right-number {
        display: inline-block;
        min-width: 174px;
        max-width: 174px;
        height: 174px;
        background-color: rgba(180, 192, 0, 0.7);
        color: #FFFFFF;
        text-align: center;
        font-family: "Lato", sans-serif;
        float: left; }
        body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-7 div.thumbnail div.box-right-number p:first-child {
          padding-top: 22px;
          margin-bottom: 0px;
          font-size: 18px;
          text-transform: uppercase; }
        body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-7 div.thumbnail div.box-right-number p:last-child {
          margin-top: -25px;
          margin-bottom: 0px;
          font-size: 100px; }
      body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-7 div.thumbnail div.box-right {
        min-width: 416px;
        max-width: 416px;
        height: 174px;
        padding-left: 20px;
        background-color: #FFFFFF;
        float: right; }
        body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-7 div.thumbnail div.box-right p.destacat {
          margin-top: 20px;
          padding: 3px;
          display: inline-block;
          background-color: #e5e8b7;
          border-radius: 2px;
          font-size: 14px; }
        body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-7 div.thumbnail div.box-right h3 {
          margin-top: 0;
          font-family: "Lato", sans-serif;
          font-size: 26px; }
        body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-7 div.thumbnail div.box-right div.align-center {
          margin-top: 20px; }
          body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-7 div.thumbnail div.box-right div.align-center span img {
            padding-right: 5px;
            padding-bottom: 2px; }
          body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-7 div.thumbnail div.box-right div.align-center p.situation {
            display: inline-block;
            font-size: 14px;
            margin-bottom: 0px;
            margin-right: 10px;
            color: #969696; }
          body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-7 div.thumbnail div.box-right div.align-center a:nth-child(4) span i {
            margin-left: 10px; }
          body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-7 div.thumbnail div.box-right div.align-center a:nth-child(5) p {
            margin-bottom: 0px;
            margin-left: 108px;
            font-size: 14px;
            color: #b4c000; }
          body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-7 div.thumbnail div.box-right div.align-center a:focus,
          body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-7 div.thumbnail div.box-right div.align-center a:hover {
            color: transparent;
            text-decoration: none; }
          body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active div.col-md-7 div.thumbnail div.box-right div.align-center span:last-child {
            margin-top: 8px;
            color: #b4c000; }
    @media screen and (max-width: 1230px) {
      body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.first-slide.item.active .col-md-7 {
        display: none; } }
  body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.second-slide.item {
    height: 458px;
    background-image: url(/img/001.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
    body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.second-slide.item div.col-md-7 div.thumbnail {
      min-width: 590px;
      max-width: 590px;
      height: 174px;
      background-color: #FFFFFF;
      margin-top: 143px;
      margin-left: 29px;
      padding: 0px;
      border-radius: 0px;
      border: none;
      background-color: transparent; }
      body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.second-slide.item div.col-md-7 div.thumbnail div.box-right-number {
        display: inline-block;
        min-width: 174px;
        max-width: 174px;
        height: 174px;
        background-color: rgba(180, 192, 0, 0.7);
        color: #FFFFFF;
        text-align: center;
        font-family: "Lato", sans-serif;
        float: left; }
        body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.second-slide.item div.col-md-7 div.thumbnail div.box-right-number p:first-child {
          padding-top: 22px;
          margin-bottom: 0px;
          font-size: 18px;
          text-transform: uppercase; }
        body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.second-slide.item div.col-md-7 div.thumbnail div.box-right-number p:last-child {
          margin-top: -25px;
          margin-bottom: 0px;
          font-size: 100px; }
      body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.second-slide.item div.col-md-7 div.thumbnail div.box-right {
        min-width: 416px;
        max-width: 416px;
        height: 174px;
        padding-left: 20px;
        background-color: #FFFFFF;
        float: right; }
        body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.second-slide.item div.col-md-7 div.thumbnail div.box-right p.destacat {
          margin-top: 20px;
          padding: 3px;
          display: inline-block;
          background-color: #e5e8b7;
          border-radius: 2px;
          font-size: 14px; }
        body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.second-slide.item div.col-md-7 div.thumbnail div.box-right h3 {
          margin-top: 0;
          font-family: "Lato", sans-serif;
          font-size: 26px; }
        body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.second-slide.item div.col-md-7 div.thumbnail div.box-right div.align-center {
          margin-top: 20px; }
          body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.second-slide.item div.col-md-7 div.thumbnail div.box-right div.align-center span img {
            padding-right: 5px;
            padding-bottom: 2px; }
          body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.second-slide.item div.col-md-7 div.thumbnail div.box-right div.align-center p.situation {
            display: inline-block;
            font-size: 14px;
            margin-bottom: 0px;
            margin-right: 10px;
            color: #969696; }
          body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.second-slide.item div.col-md-7 div.thumbnail div.box-right div.align-center a:nth-child(4) span i {
            margin-left: 10px; }
          body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.second-slide.item div.col-md-7 div.thumbnail div.box-right div.align-center a:nth-child(5) p {
            margin-bottom: 0px;
            margin-left: 108px;
            font-size: 14px;
            color: #b4c000; }
          body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.second-slide.item div.col-md-7 div.thumbnail div.box-right div.align-center a:focus,
          body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.second-slide.item div.col-md-7 div.thumbnail div.box-right div.align-center a:hover {
            color: transparent;
            text-decoration: none; }
          body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.second-slide.item div.col-md-7 div.thumbnail div.box-right div.align-center span:last-child {
            margin-top: 8px;
            color: #b4c000; }
    @media screen and (max-width: 1000px) {
      body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.second-slide.item .col-md-7 {
        display: inline; } }
    @media screen and (max-width: 500px) {
      body div.container-fluid div.carousel.slide.vertical div.carousel-inner div.second-slide.item .col-md-7 div.thumbnail {
        min-width: 342px;
        max-width: 342px; } }
  body div.container-fluid a.left.carousel-control {
    width: 30px;
    height: 30px;
    top: 34%;
    left: 94.6%;
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(transparent)); }
  body div.container-fluid a.right.carousel-control {
    width: 30px;
    height: 30px;
    top: 52%;
    left: 94.6%;
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(transparent)); }
