/* FONTS */
$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;

/* COLORS */
$green: #b4c000;
$green-rgba: rgba(180, 192, 0, 0.7);
$green-pastel: #e5e8b7;
$white: #FFFFFF;
$gray-light: #969696;
$gray-box: #676767;
$gray-titles: #383838;


